<%= form_for(@rank) do |f| %>
  <% if @rank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rank.errors.count, "error") %> prohibited this rank from being saved:</h2>

      <ul>
      <% @rank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :traffic_rank %><br>
    <%= f.number_field :traffic_rank %>
  </div>
  <div class="field">
    <%= f.label :domain_id %><br>
    <%= f.text_field :domain_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
