<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @domain.name %>
</p>
<p>
  <strong>Traffic Rank:</strong>
  <%= @domain.last_rank.traffic_rank %>
</p>
<table>
<% @domain.ranks.each do |rank| %>
<tr>
  <td><%= rank.traffic_rank %></td>
  <td><%= time_ago_in_words(rank.created_at) %></td>
</tr>
<% end %>
</table>
